<%content_for :title do "Catalogo Pisos de Concreto" end %>
<%content_for :head do%>
<%=stylesheet_link_tag "catalogo_de_pisos"%>
<%end%>
<div class="intro_content">
            <div class="sec_text_field_1">
                <span class="text_1_second_1">PISOS</span><br><br>
                <p class="text_2_second_1">
                    A combinação de cores e formas dos pisos intertravados Pavertech, além de contribuir esteticamente, garante durabilidade e uma ótima relação custo-benefício.
                    Essas peças são ideais para diferentes projetos de pavimentação e reurbanização. Por serem versáteis, agregam beleza e praticidade, além de serem ecológicas.  É possível aplicá-las em ruas, praças, parques e calçamentos diversos, organizando espaços funcionais e criativos que estimulam naturalmente a frequência do público.                    
                        </p>
            
            </div>
            <br><br>
            <div class="opcao_cores">
                <%=image_tag("opcao_de_cores.jpg", :width => "456", :height => "109", :class => "img_opcao_cores")%>
            </div>
            <br><br>
            <div class="box_infos_table"><!--box_infos--> 
                <div class="infos_title">
                    <span>Piso Retangular</span>
                </div>
                <div class="infos_aplications">
                    <span class="text_red_inf_apli">Aplicações</span><br>
                    <span <span="" class="text_inf_apli"><span class="text_red_inf_apli">RT06 -</span> Passeios de pedestres, ciclovias, acessos a edifícios residenciais&nbsp;para veículos leves.</span><br>
                    <span <span="" class="text_inf_apli"><span class="text_red_inf_apli">RT08 - RT08 - </span>Vias urbanas e pátios de manobra tráfego pesado, ônibus e caminhões.</span><br>
                </div> 
                <table class="table_infos" border="0">
                  <tbody><tr height="48" class="bg_off_tr">
                    <td class="tab_tit">Especificações</td>
                    <td>Código</td>
                    <td>Largura<br>(mm)</td>
                    <td>Compr.<br>(mm)</td>
                    <td>Altura<br>(mm)</td>
                    <td>Peso<br>(kfg)</td>
                    <td>MPa</td>
                    <td>Consumo<br>(pç/m²)</td>
                  </tr>
                  <tr height="48">
                    <td rowspan="3" width="138"><%=image_tag("img_piso_retangular.png", :width => "105", :height => "83")%></td>
                    <td>RT06</td>
                    <td>100</td>
                    <td>200</td>
                    <td>60</td>
                    <td>2,7</td>
                    <td>35</td>
                    <td>48</td>
                  </tr>
                  <tr height="48" class="bg_off_tr">
                    <td>RT08</td>
                    <td>100</td>
                    <td>200</td>
                    <td>80</td>
                    <td>3,5</td>
                    <td>50</td>
                    <td>48</td>
                  </tr>
                  <tr height="48">
                    <td>RT010</td>
                    <td>100</td>
                    <td>200</td>
                    <td>100</td>
                    <td>3,5</td>
                    <td>50</td>
                    <td>48</td>
                  </tr>
    
                </tbody></table>                
            </div><!--box_infos end-->   
    
            <div class="box_infos_table"><!--box_infos--> 
                <div class="infos_title">
                    <span>Piso Sextavado</span>
                </div>
                <div class="infos_aplications">
                    <span class="text_red_inf_apli">Aplicações</span><br>
                    <span <span="" class="text_inf_apli"><span class="text_red_inf_apli">RT06 -</span> Passeios de pedestres, ciclovias, acessos a edifícios residenciais&nbsp;para veículos leves.</span><br>
                    <span <span="" class="text_inf_apli"><span class="text_red_inf_apli">RT08 - RT08 - </span>Vias urbanas e pátios de manobra tráfego pesado, ônibus e caminhões.</span><br>
                </div> 
                <table class="table_infos" border="0">
                  <tbody><tr height="48" class="bg_off_tr">
                    <td class="tab_tit">Especificações</td>
                    <td>Código</td>
                    <td>Med<br>(mm)</td>                    
                    <td>Peso<br>(kfg)</td>
                    <td>Consumo<br>(pç/m²)</td>
                    <td>Altura<br>(mm)</td>
                  </tr>
                  <tr height="48">
                    <td rowspan="3" width="138"><%=image_tag("img_piso_sextavado.png", :width => "106", :height => "99")%></td>
                    <td>SEXT06</td>
                    <td>250</td>
                    <td>6,8</td>
                    <td>18</td>
                    <td>600</td>
                  </tr>
                  <tr height="48" class="bg_off_tr">
                    <td>SEXT08</td>
                    <td>250</td>
                    <td>9,1</td>
                    <td>18</td>
                    <td>600</td>
                  </tr>  
                  <tr height="48">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>                      
                </tbody></table>                
            </div><!--box_infos end-->                     
            
            <div class="box_infos_table"><!--box_infos--> 
                <div class="infos_title">
                    <span>Piso Raquete</span>
                </div>
                <div class="infos_aplications">
                    <span class="text_red_inf_apli">Aplicações</span><br>
                    <span <span="" class="text_inf_apli"><span class="text_red_inf_apli">RT06 -</span> Passeios de pedestres, ciclovias, acessos a edifícios residenciais&nbsp;para veículos leves.</span><br>
                </div> 
                <table class="table_infos" border="0">
                  <tbody><tr height="48" class="bg_off_tr">
                    <td class="tab_tit">Especificações</td>
                    <td>Código</td>
                    <td>Largura<br>(mm)</td>
                    <td>Compr.<br>(mm)</td>
                    <td>Altura<br>(mm)</td>
                    <td>Peso<br>(kfg)</td>
                    <td>MPa</td>
                    <td>Consumo<br>(pç/m²)</td>
                  </tr>
                  <tr height="48">
                    <td rowspan="3" width="138"><%=image_tag("img_guias_e_miniguias.png", :width => "104", :height => "83")%></td>
                    <td>RT06</td>
                    <td>115/75</td>
                    <td>190</td>
                    <td>60</td>
                    <td>2,5</td>
                    <td>35</td>
                    <td>53,5</td>
                  </tr>
                  <tr height="48">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr height="48">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
    
                </tbody></table>                
            </div><!--box_infos end-->                     
       
            <div class="box_infos_table"><!--box_infos--> 
                <div class="infos_title">
                    <span>Piso 16 Faces</span>
                </div>
                <div class="infos_aplications">
                    <span class="text_red_inf_apli">Aplicações</span><br>
                    <span <span="" class="text_inf_apli"><span class="text_red_inf_apli">RT06 -</span> Passeios de pedestres, ciclovias, acessos a edifícios residenciais&nbsp;para veículos leves.</span><br>
                    <span <span="" class="text_inf_apli"><span class="text_red_inf_apli">RT08 - RT08 - </span>Vias urbanas e pátios de manobra tráfego pesado, ônibus e caminhões.</span><br>
                </div> 
                <table class="table_infos" border="0">
                  <tbody><tr height="48" class="bg_off_tr">
                    <td class="tab_tit">Especificações</td>
                    <td>Código</td>
                    <td>Largura<br>(mm)</td>
                    <td>Compr.<br>(mm)</td>
                    <td>Altura<br>(mm)</td>
                    <td>Peso<br>(kfg)</td>
                    <td>MPa</td>
                    <td>Consumo<br>(pç/m²)</td>
                  </tr>
                  <tr height="48">
                    <td rowspan="3" width="138"><%=image_tag("img_pisograma.png", :width => "105", :height => "82")%></td>
                    <td>16f06</td>
                    <td>110</td>
                    <td>220</td>
                    <td>60</td>
                    <td>3,0</td>
                    <td>35</td>
                    <td>39</td>
                  </tr>
                  <tr height="48" class="bg_off_tr">
                    <td>16F08</td>
                    <td>110</td>
                    <td>220</td>
                    <td>80</td>
                    <td>4,4</td>
                    <td>50</td>
                    <td>39</td>
                  </tr>
                  <tr height="48">
                    <td>16F10</td>
                    <td>110</td>
                    <td>220</td>
                    <td>100</td>
                    <td>5,7</td>
                    <td>50</td>
                    <td>39</td>
                  </tr>
    
                </tbody></table>                
            </div><!--box_infos end-->                     
            
            <div class="box_infos_table"><!--box_infos--> 
                <div class="infos_title">
                    <span>Guias e Mini Guias</span>
                </div> 
                <table class="table_infos" border="0">
                  <tbody><tr height="48" class="bg_off_tr">
                    <td class="tab_tit">Especificações</td>
                    <td>Código</td>
                    <td>Largura<br>(mm)</td>
                    <td>Compr.<br>(mm)</td>
                    <td>Altura<br>(mm)</td>
                    <td>Peso<br>(kfg)</td>
                    <td>Consumo<br>(pç/m²)</td>
                  </tr>
                  <tr height="48">
                    <td rowspan="3" width="138"><%=image_tag("img_piso_x1.png", :width => "113", :height => "90")%></td>
                    <td>M.G</td>
                    <td>07</td>
                    <td>39</td>
                    <td>19</td>
                    <td>15</td>
                    <td>2,5</td>
                  </tr>
                  <tr height="48" class="bg_off_tr">
                    <td>GUIA</td>
                    <td>15</td>
                    <td>100</td>
                    <td>30</td>
                    <td>100</td>
                    <td>1,0</td>
                  </tr>
                  <tr height="48">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
    
                </tbody></table>                
            </div><!--box_infos end-->  
            <div class="box_infos_table"><!--box_infos--> 
                <div class="infos_title">
                    <span>Pisograma</span>
                </div>
                <table class="table_infos" border="0">
                  <tbody><tr height="48" class="bg_off_tr">
                    <td class="tab_tit">Especificações</td>
                    <td>Código</td>
                    <td>Largura<br>(mm)</td>
                    <td>Compr.<br>(mm)</td>
                    <td>Altura<br>(mm)</td>
                    <td>Peso<br>(kfg)</td>
                    <td>Consumo<br>(pç/m²)</td>
                  </tr>
                  <tr height="48">
                    <td rowspan="3" width="138"><%=image_tag("img_piso_x2.png", :width => "102", :height => "72")%></td>
                    <td>PG</td>
                    <td>30</td>
                    <td>45</td>
                    <td>08</td>
                    <td>12,8</td>
                    <td>7,4</td>
                  </tr>
                  <tr height="48">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr height="48">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
    
                </tbody></table>                
            </div><!--box_infos end-->   
             
            
            
            
       <div class="clear"></div>                       
      </div>
      <!--#intro_content-->
      </div>