<html>
<body><h2>Cotação</h2>
        <p>Nome da Empresa: <%=@quotation.corp%></p>
        <p>Ramo de Atuação: <%=@quotation.branch%></p>
        <p>CNPJ: <%=@quotation.cnpj%></p>
        <p>Endereço: <%=@quotation.address%></p>
        <p>Bairro: <%=@quotation.hood%></p>
        <p>Cidade: <%=@quotation.city%> -  <%=@quotation.state%></p>
        <p>Telefone: <%=@quotation.phone%></p>
        <p>E-Mail: <%=@quotation.email%></p>
        <p>Produtos:</p>
        <p><%=@quotation.message%></p>
</body>
</html>