<% title "Quotation" %>

<p>
  <strong>Corp:</strong>
  <%= @quotation.corp %>
</p>
<p>
  <strong>Branch:</strong>
  <%= @quotation.branch %>
</p>
<p>
  <strong>Cnpj:</strong>
  <%= @quotation.cnpj %>
</p>
<p>
  <strong>Address:</strong>
  <%= @quotation.address %>
</p>
<p>
  <strong>Hood:</strong>
  <%= @quotation.hood %>
</p>
<p>
  <strong>City:</strong>
  <%= @quotation.city %>
</p>
<p>
  <strong>State:</strong>
  <%= @quotation.state %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @quotation.phone %>
</p>
<p>
  <strong>Email:</strong>
  <%= @quotation.email %>
</p>
<p>
  <strong>Message:</strong>
  <%= @quotation.message %>
</p>

<p>
</p>
