<html>
<body><h2>Contato</h2>
        <p>Nome: <%=@contact.name%></p>
        <p>Email: <%=@contact.email%></p>
        <p>Telefone: <%=@contact.phone%></p>
        <p>Cidade: <%=@contact.city%> -  <%=@contact.state%></p>
        <p>Empresa: <%=@contact.corp%></p>
        <p>Mensagem:</p>
        <p><%=@contact.message%></p>
</body>
</html>