<div id="intro">
<div class="navigation_container">
        <div class="navigation_content">
        <%=link_to image_tag("logo.png", :width => "244", :height => "40", :class => "logo"), root_path%>       
            <ul class="itens-menu navigation">            
                <li><%=link_to "Empresa", about_index_path, :id => "empresa_bt", :title => "Next Section"%></li>
                <li><%=link_to "Linhas", about_index_path, :id => "linhas_bt", :title => "Next Section"%></li>
                <li><%=link_to "Cotação Online", about_index_path, :id => "cotacao_bt", :title => "Next Section"%></li>
                <li><%=link_to "Catálogos", catalog_index_path, :id => "catalogos_bt", :title => "Next Section"%></li>
                <li><%=link_to "Contato", about_index_path, :id => "contato_bt", :title => "Next Section"%></li>
            </ul>
            <%=image_tag("detail_top_left_slide1.png", :width => "370", :height => "487", :class => "detail_intro_left")%>         
        </div>        
    </div>