<div class="footer">
        <div class="footer_content">
            <ul class="itens-menu bt_go_top">
                <li style="list-style:none;"><%=link_to image_tag("bt_go_top.png", :width => "122", :height => "114"), "#intro"%></li>
            </ul>         
                <div class="f_colum_field">
                <span class="f_text_1">Navegação</span><br><br>                
                <span class="f_text_2"><%=link_to "Empresa", about_index_path%></span><br>
                <span class="f_text_2"><%=link_to "Linhas", line_index_path%></span><br>
                <span class="f_text_2"><%=link_to "Qualidade", about_index_path%></span><br>
                <span class="f_text_2"><%=link_to "Cotação Online", about_index_path%></span><br>
                <span class="f_text_2"><%=link_to "Catálogo", catalog_index_path%></span><br>       
                <span class="f_text_2"><%=link_to "Contato", about_index_path%></span>                        
            </div>
            <div class="f_colum_field_2">
                <span class="f_text_1">Redes Sociais</span><br><br>                
                <span class="f_bt_social"><%=link_to image_tag("bt_facebook.png", :width => "113", :height => "29"), "https://www.facebook.com/pavertech", :target => "_blank"%></span>
                <span class="f_bt_social"><%=link_to image_tag("bt_twitter.png", :width => "93", :height => "29"), "https://twitter.com/pavertech", :target => "_blank"%></span>                   
            </div>
            <div class="f_colum_field_3">
                <span class="f_text_1">Informações</span><br><br>                
                <span class="f_text_2">Rod. Fernão Dias Km 49</span><br>
                <span class="f_text_2">Rua Juvêncio Gomes, 40 - Portão - Atibaia - SP</span><br>
                <span class="f_text_2">CEP 12948-125</span><br>
                <span class="f_text_2">Tel: (11) 4416.8011 - 4416.7882</span>                          
            </div>
        </div>
    </div>
    <div class="footer_2">
        <div class="footer_content_2">
                <span class="fct2_text">Todos os direitos reservados a PaverTech 2013</span>
            <span class="fct2_logo_align"><%=link_to image_tag("logo_sato7_footer.png", :width => "178", :height => "16"), "http://www.sato7.com.br/", :target => "_blank"%></span>
        </div>
    </div>